body {
    font-size: 24px;
    background-color:rgb(144, 178, 209);
}

h1 { 
    text-align:left;
}


h2 {
    padding-left: 1%;
}



.bio{
    outline: 5px;
    outline-style: solid;
    outline-color:rgb(186, 163, 46);
    text-align:center;
    margin-left: 2%;
    margin-right: 2%;
    padding: 25px;
    background-color: cornsilk;

}

.avatar {
    border-radius: 50%;
    
}

.unc {
    margin-top: 2%;
    margin-left: 2%;
    width: 92%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: rgb(179, 212, 224);
    outline: 2px;
    outline-color: rgb(126, 126, 126);
    outline-style: auto;
}


.nvph {
    width: 450px;
    height: 320px;
    float:right;;
    margin-left: 4%;
    margin-right: 3%;
    margin-bottom: 3%;
    
}

.group {
    padding-bottom: 2%;
}

.group div{
    text-align: center;
}

.prof{
    padding-bottom: 2%;
}

.hob{
    padding-bottom: 2%;
}

.cats {
    height: 300px;
    width: 300px;
    margin-left: 3%;
    margin-right: 3%;
}